<div class="container-fluid">
  <mat-toolbar color="primary" style="margin-top: 10px;">
    <span class="fill-remaining-space">RECORD OF CONTACT</span>

  </mat-toolbar>

  <mat-tab-group dynamicHeight animationDuration="1500ms">>
    <mat-tab label="Referral">
      <app-referral></app-referral>
    </mat-tab>
    <mat-tab label="Face To Face">
      <app-face-to-face></app-face-to-face>
    </mat-tab>
    <mat-tab label="Phone">
      <app-phone></app-phone>
    </mat-tab>
  </mat-tab-group>
</div>
