<div class="" id="_maincontainer" style="margin-left: 0px;">

  <div class="container">
    <div class="card mb-3" style="border:1px solid rgb(223, 218, 218)">

      <div class="grid simple bluetheme">
        <div class="grid-title no-border" style=" margin: 0px 0px 0px 0px; background-color: #f2f4f6;">
          <h5 style="margin: 0px 0px 0px 0px; color: #1b1e24;"><span style="font-weight: 600; "> <strong>SHARING
                FORM</strong> </span>
          </h5>
          <div class="tools">
            <a class="collapse" href="javascript:;"></a><a class="reload" href="javascript:;">
            </a>
          </div>
        </div>
      </div>

      <div class="card-body text-info" id="cardbody">
        <div class="grid-body no-border">
          <!-- <div id="divMessage">
    </div> -->
          <div class="row">
            <div class="col-md-12 ">


              <div id="SessionGreaterThanOne">
                <div class="form-container-main">
                  <div class="questionlisting">
                    <u class="list-unstyled" id="trConsentToTreatment">
                      <div class="row">
                        <div class="col-md-12">
                          <label id="lblConsentMessage">
                            <p><span style="font-size:24px">Information</span></p>
                            <p>The KCHFT Service gives information and guidance on a range of issues, including:</p>
                            <table border="0" cellpadding="0" cellspacing="0" class=" cke_show_border">
                              <tbody>
                                <tr>
                                  <td style="height:32px; width:348px">
                                    <p>Weight Loss</p>
                                    <p>Increase in Physical Activity</p>
                                  </td>
                                  <td style="height:32px; width:348px">
                                    <p>Improve your mental wellbeing</p>
                                    <p>Stopping Smoking</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <mat-label>To enable the service to give you accurate advice, we sometimes need to share
                              the details
                              you have provided with others such as, your GP Practice, Pharmacy, other departments
                              within the Council and any other services associated to your ongoing care.</mat-label>
                          </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group" id="dv_TheClientHasObjectedToSharingInformation">
                            <label class="form-label" style="float: left">
                              The client has objected to sharing information

                              <mat-checkbox style="margin-left: 10px; "></mat-checkbox>
                            </label>

                          </div>
                        </div>
                        <div class="col-md-12 hidden" id="dv_txtNotesTheClientHasObjectedToSharingInformation">
                          <div class="form-group">
                            <label class="form-label">
                              Notes
                            </label>
                            <div class="controls ">
                              <textarea class="form-control capitalize"
                                id="txtNotesTheClientHasObjectedToSharingInformation" rows="8" cols="2"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row col-md-12"
                          id="dv_txtThePersonHasBeenGivenInformationExplainingHowWeUseTheirInformation">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="form-label" style="float: left !important;">
                                The person has been given information explaining<br>
                                how we use their information
                                <mat-checkbox style="margin-left: 10px;"></mat-checkbox></label>
                              <div class="controls" style="float: left !important;">

                              </div>
                              <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 ">
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Choose Date</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker></mat-datepicker>
                                  </mat-form-field>

                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>

                    </u>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
