<div class="" id="_maincontainer" style="margin-left: 0px;">
  <div class="card mb-3" style="border:1px solid rgb(223, 218, 218)">
    <div class="grid simple bluetheme">
      <div class="grid-title no-border" style=" margin: 0px 0px 0px 0px; background-color: #f2f4f6;">
        <h5 style="margin: 0px 0px 0px 0px; color: #1b1e24;"><span style="font-weight: 600; "> CONSENT </span> </h5>
        <div class="tools">
          <a class="collapse" href="javascript:;"></a><a class="reload" href="javascript:;">
          </a>
        </div>
      </div>
    </div>

    <div class="card-body text-info" id="cardbody">
      <div class="grid-body no-border">
        <!-- <div id="divMessage">
      </div> -->
        <div class="row">
          <div class="col-md-12 ">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <form class="example-form">
                    <label id="example-radio-group-label">Does Client Give Consent To Recording Follow Ups</label><br>
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="1">Yes</mat-radio-button>
                      <mat-radio-button value="2" style="margin-left:15px;">No</mat-radio-button>
                    </mat-radio-group>
                  </form>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <form class="example-form">
                    <label id="example-radio-group-label">Does Client Give Consent To Recording Follow Ups</label><br>
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="1">Yes</mat-radio-button>
                      <mat-radio-button value="2" style="margin-left:15px;">No</mat-radio-button>
                    </mat-radio-group>
                  </form>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <form class="example-form">
                    <!-- <mat-form-field class="example-full-width">
                                <mat-label>Forname</mat-label>
                                <input matInput placeholder="Ex. Pizza" value="">
                              </mat-form-field> -->
                    <label id="example-radio-group-label">Does Client Give Consent To Recording Follow Ups </label><br>
                    <mat-radio-group aria-label="Select an option">
                      <mat-radio-button value="1">Yes</mat-radio-button>
                      <mat-radio-button value="2" style="margin-left:15px;">No</mat-radio-button>
                    </mat-radio-group>



                  </form>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
