

.btn
{

  color: black;

}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.example-viewport {
  height: 700px;
  width: 100%;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

/* .body
{

  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
input[type="radio"]
{
  position: relative;
  width: 120px;
  height: 40px;
  margin: 10px;
  outline: none;
  background: rgb(255, 255, 255);
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: -5px -5px 20px rgba(255,255,255,0.1),
               5px 5px 20px rgba(0,0,0,1),
              inset -2px -2px 5px rgba(255,255,255,0.1),
               inset 2px 2px 5px rgba(0,0,0,0.5),
               0 0 0 2px #1f1f1f;
  transform: 0.5%;

}
input[type="radio"]:checked
{
  background: #20b7ff;
}
input[type="radio"]::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background: linear-gradient(to top,#000, #555);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98,0.96);
  transition: 0.5%;
}
input[type="radio"]:checked::before
{
  left: 40px;
}
input[type="radio"]::after{
  content: '';
  position: absolute;
  left: 65px;
  top: calc(50% - 2px);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #555;
  transition: 0.5s;
}
input[type="radio"]:checked::after{
  left: calc(65px + 40px);
  background: #63cdff;
  box-shadow: 0 0 5px #63cdff,
              0 0 15px #63cdff,
               0 0 30px #63cdff;

} */


.body1
{
  font-family: 'Poppins',sans-serif;
  height: 30vh;
  width: 63vw;
display: flex;
  color: #2c2c51;
}
#card{
  height: 100px;
  width: 900px;
  background-image: linear-gradient(to right, rgb(221, 203, 203), rgba(66, 135, 245));
 box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55) ,
  10px 10px 15px rgba(70,70,70,0.12 );
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border-width: 10px solid ;


}
input[type="radio"]
{
  display: none;
}
label{
  font-family: 'Poppins',sans-serif;
  font-size: 22px;
  padding: 15px 35px;
  font-weight: 600;
  color:#303030;
  border-radius: 35px;
}

input[type="radio"]:checked + label{
  box-shadow:
  inset -10px -10px 15px rgba(255, 255, 255, 0.55) ,
   inset 10px 10px 15px rgba(70,70,70,0.12 );

}
