<div class="" id="_maincontainer" style="margin-left: 0px;">

  <div class="container">
    <div class="card mb-3" style="border:1px solid rgb(223, 218, 218)">

      <div class="grid simple bluetheme">
        <div class="grid-title no-border" style=" margin: 0px 0px 0px 0px; background-color: #f2f4f6;">
          <h5 style="margin: 0px 0px 0px 0px; color: #1b1e24;"><span style="font-weight: 600; "> <strong>Smoking
                Status</strong> </span>
          </h5>
          <div class="tools">
            <a class="collapse" href="javascript:;"></a><a class="reload" href="javascript:;">
            </a>
          </div>
        </div>
      </div>

      <div class="card-body text-info" id="cardbody">
        <div class="grid-body no-border">
          <!-- <div id="divMessage">
    </div> -->
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <mat-form-field appearance="fill">
                  <mat-label>Current Smoking Status</mat-label>
                  <mat-select [formControl]="ConTyp1Control" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let ConTyp1 of ConTyp1" [value]="ConTyp1">
                      {{ConTyp1.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="ConTyp1Control.hasError('required')">You must choose a Contact Type</mat-error>
                  <!-- <mat-hint>{{ConTyp1.value?.sound}}</mat-hint> -->
                </mat-form-field>

              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <mat-form-field appearance="fill">
                  <mat-label>Recent Quit</mat-label>
                  <mat-select [formControl]="ConTyp2Control" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let ConTyp2 of ConTyp2" [value]="ConTyp2">
                      {{ConTyp2.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="ConTyp2Control.hasError('required')"></mat-error>
                  <!-- <mat-hint>{{ConTyp1.value?.sound}}</mat-hint> -->
                </mat-form-field>

              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4 ">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Date of Quit </mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>

              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <mat-form-field color="accent" appearance="fill">
                  <mat-label>Actual Quit Date </mat-label>
                  <input matInput [matDatepicker]="picker1">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker  #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <mat-form-field appearance="fill">
                  <mat-label>CO Taken</mat-label>
                  <mat-select [formControl]="ConTyp3Control" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let ConTyp3 of ConTyp3" [value]="ConTyp3">
                      {{ConTyp3.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="ConTyp2Control.hasError('required')">You Must Choose Co Taken </mat-error>
                  <!-- <mat-hint>{{ConTyp1.value?.sound}}</mat-hint> -->
                </mat-form-field>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
