<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Contact Status</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Contact Status Reason</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Service Provider</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Venue</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Clinic</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Type Of Intervention Delivered</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Type Of Intervention Setting</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Advisor</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput [matDatepicker]="picker1">
      <mat-label>Contact Date</mat-label>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker1></mat-datepicker>
    </mat-form-field>
  </div>

</div>
