<div class="fluid-container">
  <div class="" id="_maincontainer">
    <div class="card border-info mb-3">
      <div class="grid simple bluetheme">
        <div class="grid-title no-border" style=" margin: 0px 0px 0px 0px;">
          <h5 style="margin: 0px 0px 0px 0px;"><span style="font-weight: 300; "> SEARCH </span> <span
              style="font-weight: 500;">CLIENTS</span> </h5>
          <div class="tools">
            <a class="collapse" href="javascript:;"></a><a class="reload" href="javascript:;">
            </a>
          </div>
        </div>
      </div>

      <div class="card-body text-info" id="cardbody">
        <div class="grid-body no-border">
          <div class="row" style="margin-top: 20px;">
            <div class="col-md-12 ">
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Forename</mat-label>
                      <input matInput [(ngModel)]="txtForename"  type="text" id="txtForename" >
                      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                      <mat-hint>Hint Text</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Surname</mat-label>
                      <input matInput [(ngModel)]="txtSurname"  type="text" id="txtSurname" >
                      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                      <mat-hint>Hint Text</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>DOB</mat-label>
                      <input matInput [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field appearance="outline">
                      <mat-label>Postcode</mat-label>
                      <input matInput placeholder="Postcode">
                      <mat-hint>Hint Text</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12 col-sm-3" style="display: none;">
                    <label class="form-label">
                      NHS Number</label>
                    <div class="controls">
                      <div id="ThreeNHSBoxes" class="row">
                        <div class="col-sm-4">
                          <input disabled="true" name="ctl00$ContentPlaceHolder1$txtNHS1" type="text" maxlength="3"
                            id="ContentPlaceHolder1_txtNHS1" class="form-control inputs" />
                        </div>
                        <div class="col-sm-4">
                          <input disabled="true" name="ctl00$ContentPlaceHolder1$txtNHS2" type="text" maxlength="3"
                            id="ContentPlaceHolder1_txtNHS2" class="form-control inputs" />
                        </div>
                        <div class="col-sm-4">
                          <input disabled="true" name="ctl00$ContentPlaceHolder1$txtNHS3" type="text" maxlength="4"
                            id="ContentPlaceHolder1_txtNHS3" class="form-control inputs" />
                        </div>
                      </div>
                      <input disabled="true" type="text" class="form-control NumbersOnly" maxlength="10"
                        id="txtNHS_Number" style="display: none;" />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 " id="dvLocality">
                    <mat-form-field appearance="fill">
                      <mat-label>Locality</mat-label>
                      <mat-select disableRipple>
                        <mat-option value="1">East Lancs</mat-option>
                        <mat-option value="2">West Lancs</mat-option>
                        <mat-option value="3">Central Lancs</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-actions text-right">
                <button mat-raised-button color="primary" (click)="SearchClient()">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="card mb-4">
      <div class="card-body">

          <div class="table-responsive">
                <nav class="navbar">
          <input class="form-control " type ="text" name="Forename" [(ngModel)]="Forename" (input)="Search()"
          placeholder="Enter Clied Forename to Search">
        </nav>
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th (click)="sort('id')">ClientId &nbsp;<i class="fa fa-sort"></i></th>
                          <th (click)="sort('id')">NHSNumber &nbsp;<i class="fa fa-sort"></i></th>
                          <th  (click)="sort('id')" >Forename &nbsp;<i class="fa fa-sort"></i></th>
                          <th (click)="sort('id')">Surname &nbsp;<i class="fa fa-sort"></i></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of clientList |orderBy:key:reverse | paginate: {
                      itemsPerPage:10,
                      currentPage: page
                    }">
                          <td>{{item.ClientId}}</td>
                          <td>{{item.NHSNumber}}</td>
                          <td>{{item.Forename}}</td>
                          <td>{{item.Surname}}</td>
                      </tr>
                  </tbody>
              </table>
              <pagination-controls maxsize="5" directionLinks="true"(pageChange) ="page =$event"> </pagination-controls>

          </div>

      </div>
  </div>


    <div class="card  text-right" id="CreateNewButton"
      style="border-color: transparent;">
      <div class="card-body">
        <button class="text-right" mat-raised-button color="primary" [routerLink]="['/ClientOnePageEntry/']">
          Create New Client</button>
      </div>
    </div>
  </div>
</div>
