<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Contact Status</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Contact Status Reason</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Service Provider</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Venue</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Clinic</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Type Of Intervention Delivered</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Type Of Intervention Setting</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Advisor</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Contact Date</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field appearance="fill">
      <mat-label>Appointment Type</mat-label>
      <mat-select>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
        <mat-option value="FaceToFace">Lookup</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>
<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12 col-sm-6 col-md-4">

    <div class="md-form">
      <input type="time" id="input" class="form-control" value="13:00" mdbInput />
      <label for="input">Start time</label>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">

    <div class="md-form">
      <input type="time" id="input" class="form-control" value="13:00" mdbInput />
      <label for="input">End time</label>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 20px;">


</div>
<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Next Call Back</mat-label>
      <input matInput [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 ">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Notes</mat-label>
        <textarea matInput #message maxlength="256" placeholder="Ex. I need help with..."></textarea>
        <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
    </form>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 ">
    <mat-form-field appearance="fill">
      <mat-label>In Reference To</mat-label>
      <mat-select>
        <mat-option value="Referral">OYSF</mat-option>
        <mat-option value="Referral">OYLS</mat-option>
        <mat-option value="Referral">OYHC</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
